<!doctype html>
<html>
<head>
  <title>Welcome to the <%=projectName%> project</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"/>
</head>
<body>

  <div class="container">
    <h1>Welcome to the <%=projectName%> project</h1>
    <h2>This nice project stack has AngularJS, RequireJS, jQuery and Bootstrap</h2>
  </div>

  <script src="http://localhost:35729/livereload.js"></script>
  <script type="text/javascript" data-main="js/main" src="lib/require.js"></script>
</body>
</html>